<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @employee.emp_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email_id %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @employee.mobile_no %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
